<p>read-json-data works!</p>
data:
<p>{{ data | json }}</p>
<div
  id="drop-zone"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
>
  <input type="file" id="file-input" (change)="onFileSelected($event)" />
  <p>Drag and drop files here or click to select files</p>
</div>
-------------------------------------
<h1>{{'TITLE' | translate}}</h1>
<li> {{'USER_INFO.NAME' | translate}} : Heidi Miller </li>
<b>{{ "USER_INFO.ADDRESS_DETAILS" | translate }}</b> : 05516 Kristina
---------------------------------------
